h1 {
    color: brown;
}

* {
    border: solid;
    background-color:lightblue
}
.studentname{
  background-color: lightpink;
  display: flex;
  justify-content: space-evenly;
  
}
.games{
 background-color: limegreen;
}
.gameslink{
 background-color: linen;
}
.footer{
    background-color: olive;
    display:flex;
    justify-content: space-between;

}